<div class="main">

  <div class="container-fluid">
    <div class="row">
      <div class="col-7" style="justify-content: space-between;align-items: center;">
        <label class="fs-5">View Created Team</label>
        <select [(ngModel)]="teamid" class="form-control h6">
          <option *ngFor="let i of dataList" [ngValue]="i.teamId">
            {{ i.teamName }}
          </option>
        </select>
      </div>
      <div class="col-5">
        <button type="button" style="margin-left: 100px;margin-top: 30px;" style="
        border:none;
        height: 40px;
        padding: 8px;
        width: 120px;
        margin-left: 100px;
        margin-top: 40px;
        letter-spacing: 1px;
        background-color: rgb(5, 156, 5);
        color: rgb(248, 244, 244);
        border-radius: 8px;
        cursor: pointer;
        " data-toggle="modal" data-target="#ModalForm">
          Create Team

        </button>

      </div>
      <br />
      <div>
        <button style="border-radius: 5px;" (click)="getTeamData1()" style="
        border:none;
        height: 40px;
        padding: 8px;
        width: 90px;
        letter-spacing: 1px;
        background-color: rgb(10, 10, 10);
        color: rgb(253, 251, 251);
        border-radius: 8px;
        cursor: pointer;
        ">Submit</button>
        <div>

        </div>

        <br />
        <div>

        </div>
      </div>
    </div>
  </div>
  <br />
  <!-- table for show details of Team -->
  <table *ngIf="showTable" class="table table-bordered" name="add">
    <div class="border"></div>
    <thead>
      <tr>
        <th>TeamMember</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of TeamData">
        <td>{{ row.fName}} {{ row.lName}}</td>
      </tr>
      <br />
    </tbody>
    <button style="color: aliceblue" type="button" class="btn btn-primary" (click)="join()">
      Join
    </button>

  </table>
  <!-- Modal HTML Markup -->
  <div id="ModalForm" class="modal fade" data-backdrop="false" style="background-color: rgb(220, 220, 224);">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Create Team</h3>
        </div>
        <div class="modal-body">
          <form [formGroup]="NewTeam" style="height: 50vh;">
            <div class="container" style="justify-content: center;margin-bottom: 10vh;">
              <div>
                <div>
                  <label class="h6">Enter Team Name</label>
                  <input type="text" minlength="4" maxlength="20" formControlName="teamName"
                    class="form-control h6 text-capitalize" required />
                     <!-- <span *ngIf="teamName && teamName.invalid && teamName.touched" style="color: red">Required* </span>   -->
                </div>
                <br />
                <div>
                  <label>TeamMember</label>
                  <div class="col">

                    <div class="form-group">
                      <select class="selectpicker" [(ngModel)]="teamMemberIds" multiple>
                        <option *ngFor="let team of TeamMember" (value)="team.id">{{team.fName}} {{team.lName}}
                        </option>
                        <span *ngIf="teamMemberIds && teamMemberIds.invalid && teamMemberIds.touched" style="color: red">Required* </span>                        </select>
                    </div>
                  </div>

                </div>
                <br />
                <br />
                <div class="row">
                  <div class="col-8">

                    <button type="submit" class="btn btn-success" (click)="postteam()">
                      Register Team
                    </button>
                  </div>
                  <div class="col-3">
                    <a [routerLink]="['/domain/teammember']" [routerLinkActive]="['active']">
                      <button type="submit" class="btn btn-primary">
                        close
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>